login.css
//body
body {
  font-family: Arial, sans-serif;
  background-color: #f5f7fa;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
// khung login
.login-container {
  background-color: white;
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  width: 350px;
  text-align: center;
}

//tieu de dang nhap
.login-container h2 {
  margin-bottom: 25px;
  color: #000;
}

.login-form input {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 20px;
  border: 1.5px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.login-form input:focus {
  border-color: #4a90e2;
  outline: none;
}

.login-form button {
  width: 100%;
  background-color: #4a90e2;
  color: white;
  font-size: 18px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #357ab7;
}
